
<div class="container mt-3 text-center">
    <h1>About Agriculture Products Shop</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron">
                <h1 class="display-4">Cake Shop</h1>
                <p class="lead">
                    We are exactly what you are looking for. Yes, we are an FSSAI certified online cake and Bakery Company that specializes in delivering absolutely lip-smacking delicacies. Currently, we are delivering cakes in valsad and near by cities. We are here to create some unforgettable memories and some undying emotions by helping you to send cake online to your beloved ones.
                </p>
                
                <hr class="my-4">
              
                <p class="lead">
                    Our mission is to “deliver these heavenly cakes at your doorstep on time to make your celebrations even grander”. Because for us, it is not just a Cake but more and so we craft it with a blend of inspiration, passion, and love. We guarantee an extraordinary taste in your choicest flavors with ravishing designs. Sounds perfect, isn’t it?
                </p>
              </div>
        </div>
        <div class="col-md-6">
            <img src="img/abt1.jpg" style="width: 100%;">
        </div>
    </div>
</div>