<!-- 
<div class="container mt-5 text-center">
    <h1>Contact Us</h1>
    <div class="row mt-3">
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Address</h5>
                  
                  <p class="card-text">
                    Shreenivas Bunglow, <br/>
                    Near Rishikesh Appt, <br/>
                    Tithal Road, <br/>
                    Valsad: 396001 <br/>
                    Gujarat - (India)

                  </p>
                  
                </div>
              </div>

              <div class="card mt-5" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Mobile No</h5>
                  
                  <p class="card-text">
                    9106954438   
                </p>
                  
                </div>
              </div>

              <div class="card mt-5" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Email ID</h5>
                  
                  <p class="card-text">
                    admin@cakeshop.com
                </p>
                  
                </div>
              </div>
        </div>
        <div class="col-md-6">
            <img src="img/cnt1.jpg" style="width: 100%;">
        </div>
    </div>
</div> -->