
<div class="container mt-5">
    <h1 ><center>REGISTRATION FORM</center></h1>
    <div class="row mt-3">
        <div class="col-md-6">
            <form method="post" action="/add_customer">
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" id = "nameforselenium" class="form-control" placeholder="Enter Name" name="txtname">
                    
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Address</label>
                    <textarea class="form-control" placeholder="Enter Address" id = "addressforselenium" name="txtadd"></textarea>
                    
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">City</label>
                    <input type="text" class="form-control" placeholder="Enter City" id = "cityforselenium" name="txtcity">
                    
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Mobile No</label>
                    <input type="text" class="form-control" placeholder="Enter Mobile No" id = "mnoforselenium" name="txtmno">
                    
                  </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" placeholder="Enter email" id = "emailforselenium" name="txtemail">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" placeholder="Password" id = "passwordforselenium" name="txtpwd">
                </div>
                
                <button type="submit" id = "registerforselenium" name="btnregis" style="background-color: #ab47bc;" class="btn text-light">REGISTER</button>
                
              </form>
        </div>
        <div class="col-md-6">
            <img src="cake_img\login image.webp" style="width: 100%;">
        </div>
    </div>
</div>